<div *ngIf="webSites.length>0">
    <div class="row row-cols-3 row-cols-lg-5 g-2 g-lg-3">
        <span>site:</span>
        <span>username:</span>
        <span>password:</span>
    </div>
    <div  *ngFor="let item of webSites">

        <div class="row ">
            <div class="row-cols-4">
                <input name="site" type="text" value="{{item.webSite}}"> 
                <input name="username" type="text" value="{{item.userName}}"> 
                <input name="password" type="text" value="{{item.password}}">
                <div >
                    <button><i class="fa fa-pen"></i></button>
                    <button><i class="fa fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>